body {
    background-color: #1e1f24;
    color: blue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background-color: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, .5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-size: .8em;
}

#container {
    width: 70%;
    padding: 1em;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#post {
    background-color: white;
}

#footer {
    text-align: center;
    background-color: #777;
    color: white;
    padding: 0.5em;
}
